@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .aspect-w-1 {
    position: relative;
    padding-bottom: 100%;
  }
  
  .aspect-h-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
} 